<div id="<%= dom_id pokemon %>">
  <%= link_to pokemon_path(pokemon, {page: params[:page], q: params[:q]&.permit! }), class: "contents" do %>
    <div class="max-w-56 m-auto overflow-hidden shadow-lg sm:rounded-lg px-4 py-1 min-h-72 min-w-52 border-[12px] border-amber-300 <%= card_color(pokemon.types) %>">
      <div class="flex justify-between space-x-2 items-center">
        <p class="text-base leading-6 font-semibold text-gray-900"><%= pokemon.name.capitalize %></p>
        <p class="text-xs"><%= pokemon.pokedex_id %></p>
      </div>
      <div class="border-4 border-amber-400 shadow-lg mb-2 bg-white">
        <img src="<%= pokemon.front_default_url %>" alt="Pokemon Image" class="m-auto h-24">
      </div>
      <div class="flex justify-between space-x-2">
        <div class="min-h-10">
          <p class="text-sm italic"><%= pokemon_types(pokemon) %></p>
        </div>
        <p class="text-xs"><%= pokemon.weight %> lb</p>
      </div>

      <p class="text-sm leading-6 font-semibold text-gray-900 mt-2">Abilities:</p>
      <div class="min-h-[3.7rem]">
        <% pokemon.abilities.each do |ability| %>
          <p class="text-sm"><%= ability.name.capitalize %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
