<div id="<%= dom_id pokemon %>">
  <%= link_to pokemon_path(pokemon, page: params[:page]) do %>
    <div class="max-w-52 m-auto overflow-hidden bg-white shadow-lg sm:rounded-lg p-4 min-h-72 min-w-52">
      <div class="flex justify-between space-x-2 items-center">
        <p class="text-base leading-6 font-semibold text-gray-900"><%= pokemon.name.capitalize %></p>
        <p class="text-xs"><%= pokemon.pokedex_id %></p>
      </div>
      <img src="<%= pokemon.front_default_url %>" alt="Pokemon Image" class="m-auto">
      <div class="flex justify-between space-x-2">
        <div>
          <% pokemon.types.each do |type| %>
            <p class="text-sm"><%= type.name.capitalize %></p>
          <% end %>
        </div>
        <p class="text-xs"><%= pokemon.weight %> lb</p>
      </div>

      <p class="text-sm leading-6 font-semibold text-gray-900 mt-2">Abilities:</p>
      <% pokemon.abilities.each do |ability| %>
        <p class="text-sm"><%= ability.name.capitalize %></p>
      <% end %>
    </div>
  <% end %>
</div>
