<div id="<%= dom_id pokemon %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pokemon.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pokedex:</strong>
    <%= pokemon.pokedex_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= pokemon.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Types:</strong>
    <% pokemon.types.each do |type| %>
      <%= type.name %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Abilities:</strong>
    <% pokemon.abilities.each do |ability| %>
      <%= ability.name %>
    <% end %>
  </p>
</div>
