<% content_for :header do %>
  <h1 class="text-3xl font-bold tracking-tight text-gray-900">Who's that Pokémon?</h1>
<% end %>

<div>
  <%= link_to pokemons_path(page: params[:page]), class: "font-semibold text-indigo-600 hover:text-indigo-500" do %>
    <span> &#8592; Back to Pokédex</span>
  <% end %>
</div>

<div>
  <div class="max-w-sm m-auto overflow-hidden shadow-lg sm:rounded-lg px-8 py-2 border-[12px] border-amber-300  <%= card_color(@pokemon.types) %>">
    <div class="m-auto max-w-sm">
      <p class="text-xl leading-6 font-semibold text-gray-900"><%= @pokemon.name.capitalize %></p>
      <p class="text-base"><%= @pokemon.pokedex_id %></p>

      <div class="border-4 border-amber-400 shadow-lg mb-2 bg-white">
        <img src="<%= @pokemon.front_default_url %>" alt="Pokemon Image" class="m-auto h-48">
      </div>

      <p class="text-base"> <%= @pokemon.species.description %>
      
      <div class="">
        <div>
          <p class="text-base leading-6 font-semibold text-gray-900 mt-2">Weight:</p>
        </div>
        <div>
          <p> <%= @pokemon.weight %> lb</p>
        </div>
      </div>

      <div class="flex justify-between">
        <div>
          <p class="text-base leading-6 font-semibold text-gray-900 mt-2">Type:</p>
          <% @pokemon.types.each do |type| %>
            <p class="text-base"><%= type.name.capitalize %></p>
          <% end %>
        </div>

        <div>
          <p class="text-base leading-6 font-semibold text-gray-900 mt-2">Abilities:</p>
          <% @pokemon.abilities.each do |ability| %>
            <p class="text-base"><%= ability.name.capitalize %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between">
    <div>
      <% if @prev_pokemon %>
        <%= link_to pokemon_path(@prev_pokemon, page: params[:page]), class: "font-semibold text-indigo-600 hover:text-indigo-500" do %>
          <span> &#8592; Previous Pokémon</span>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if @next_pokemon %>
        <%= link_to pokemon_path(@next_pokemon, page: params[:page]), class: "font-semibold text-indigo-600 hover:text-indigo-500" do %>
          <span> Next Pokémon &#8594;</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="w-full mb-12">
    <p class="text-xl leading-6 font-semibold text-gray-900 my-8"> Evolutive Tree </p>
    <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4 md:justify-center">
      <%= render @pokemon_family, partial: "pokemon" %>
    </div>
  </div>
</div>
